ol, ul {
  padding-left: 30px;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#left {
  margin-right: 50px;
}

ul {
  list-style-type: none;
  margin-right: 16px;
}

.player-status {
  text-align: center;
  margin-right: 200px;
}