ol, ul {
  padding-left: 30px;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-board {
  margin-bottom: 5;
  padding: 10;
}

#right {
  align-items: flex-start;
}

.game-info {
  margin-left: 20px;
}