.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}


.square:focus {
  outline: none;
}

.ACarrier {
  background: blue;
}

.Battleship {
  background: blue;
}

.Cruiser {
  background: blue;
}

.Submarine {
  background: blue;
}

.Destroyer {
  background: blue;
}

.hit {
  background: red !important;
}

.hover {
  background: darkblue;
}
