.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}


.square:focus {
  outline: none;
}

.ACarrier {
  background: rgb(11, 11, 245);
}

.Battleship {
  background: rgb(56, 56, 214);
}

.Cruiser {
  background: rgb(23, 23, 199);
}

.Submarine {
  background: rgb(28, 28, 221);
}

.Destroyer {
  background: rgb(6, 6, 153);
}

.hit {
  background: red !important;
}

.hover {
  background: darkblue;
}

.sunk {
  background: black;
}